* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: linear-gradient(45deg, #190361 0%, #b0f 100%);
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

main {
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  padding: 4.8rem 6.4rem 6.4rem;
  width: min(42rem, 90%);
  text-align: center;
}

main h1,
p {
  color: #34355b;
}

.screen1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.screen1 .biscoito {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-left: -5rem;
}

.screen1 .biscoito img {
  width: 190px;
  height: auto;
}

.screen1 .biscoito img:hover {
  width: 200px;
  height: auto;
  animation: biscoito 0.1s alternate infinite ease-in-out;
}

@keyframes biscoito {
  from {
    transform: rotate(4deg);
  }
  to {
    transform: rotate(-4deg);
  }
}

/* SCREEN2 */

.screen2 {
  display: none;
}

.screen2 h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.7rem;
}

.screen2 .area {
  width: 29.3rem;
  height: auto;
  background: #e4edf1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.5);
  justify-content: center;
  align-items: center;
  margin-bottom: 1.7rem;
}

#frase {
  font-family: "Dancing Script", cursive;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bolder;
}

.screen2 .aberto {
  align-items: center;
  margin-bottom: 1.7rem;
}

.btn_again {
  width: 10rem;
  height: 3.2rem;
  background-color: #ff9500;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 0.4rem;
  justify-items: center;
  transition: 1s ease-out;
}

.btn_again:hover {
  background-color: transparent;
  color: #ff9500;
  border: 1px solid #ff9500;
}
